# Сборный проект №1(GameDev)

# Закономерности определяющие успешность игры

   ***Источник данных*** :

Интернет-магазине «Стримчик», который продаёт по всему миру компьютерные игры

Из открытых источников доступны исторические данные о продажах игр, оценки пользователей и экспертов, жанры и платформы (например, Xbox или PlayStation).

Перед нами данные до 2016 года. Представим, что сейчас декабрь 2016 г., и вы планируете кампанию на 2017-й. 

Нужно отработать принцип работы с данными. Неважно, прогнозируете ли вы продажи на 2017 год по данным 2016-го или же 2027-й — по данным 2026 года.

В наборе данных попадается аббревиатура ESRB (Entertainment Software Rating Board) — это ассоциация, определяющая возрастной рейтинг компьютерных игр.

ESRB оценивает игровой контент и присваивает ему подходящую возрастную категорию, например, «Для взрослых», «Для детей младшего возраста» или «Для подростков».

   ***Цель исследования***:

Нам нужно выявить определяющие успешность игры закономерности. 

Это позволит сделать ставку на потенциально популярный продукт и спланировать рекламные кампании.

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных-,-изучение-общей-информации" data-toc-modified-id="Загрузка-данных-,-изучение-общей-информации-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных , изучение общей информации</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Предобработка-данных-и-замена-типа-данных" data-toc-modified-id="Предобработка-данных-и-замена-типа-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных и замена типа данных</a></span><ul class="toc-item"><li><span><a href="#Замена-типа-данных" data-toc-modified-id="Замена-типа-данных-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Замена типа данных</a></span></li><li><span><a href="#Суммарные-продажи-во-всех-регионах" data-toc-modified-id="Суммарные-продажи-во-всех-регионах-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Суммарные продажи во всех регионах</a></span></li></ul></li><li><span><a href="#Исследовательский-анализ-данных" data-toc-modified-id="Исследовательский-анализ-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследовательский анализ данных</a></span><ul class="toc-item"><li><span><a href="#Cколько-игр-выпускалось-в-разные-годы" data-toc-modified-id="Cколько-игр-выпускалось-в-разные-годы-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Cколько игр выпускалось в разные годы</a></span></li><li><span><a href="#Изменение-продаж-по-платформам.-Распределение-по-годам.-За-какой-характерный-срок-появляются-новые-и-исчезают-старые-платформы" data-toc-modified-id="Изменение-продаж-по-платформам.-Распределение-по-годам.-За-какой-характерный-срок-появляются-новые-и-исчезают-старые-платформы-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Изменение продаж по платформам. Распределение по годам. За какой характерный срок появляются новые и исчезают старые платформы</a></span></li><li><span><a href="#Влияние-на-продажи-внутри-одной-популярной-платформы-отзывы-пользователей-и-критиков.-Диаграмма-рассеяния-и--корреляцию-между-отзывами-и-продажами" data-toc-modified-id="Влияние-на-продажи-внутри-одной-популярной-платформы-отзывы-пользователей-и-критиков.-Диаграмма-рассеяния-и--корреляцию-между-отзывами-и-продажами-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Влияние на продажи внутри одной популярной платформы отзывы пользователей и критиков. Диаграмма рассеяния и  корреляцию между отзывами и продажами</a></span></li><li><span><a href="#Распределение-по-жанрам.-Что-можно-сказать-о-самых-прибыльных-жанрах?-Выделяются-ли-жанры-с-высокими-и-низкими-продажами?" data-toc-modified-id="Распределение-по-жанрам.-Что-можно-сказать-о-самых-прибыльных-жанрах?-Выделяются-ли-жанры-с-высокими-и-низкими-продажами?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Распределение по жанрам. Что можно сказать о самых прибыльных жанрах? Выделяются ли жанры с высокими и низкими продажами?</a></span></li><li><span><a href="#Портрет-пользователя-каждого-региона" data-toc-modified-id="Портрет-пользователя-каждого-региона-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Портрет пользователя каждого региона</a></span></li></ul></li><li><span><a href="#Проверка-гипотез" data-toc-modified-id="Проверка-гипотез-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка гипотез</a></span></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Общий вывод</a></span><ul class="toc-item"><li><span><a href="#Чек-лист" data-toc-modified-id="Чек-лист-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Чек лист</a></span></li></ul></li></ul></div>

## Загрузка данных , изучение общей информации

In [1]:
# импорт всех необходимых библиотек

import pandas as pd
import numpy as np
import seaborn as sn

In [2]:
df=pd.read_csv('D://Common Vika//Python//Сборный Проект №1/games.csv')  #загрузка данных
# try:
#     df_calls=pd.read_csv('https://code.s3.yandex.net/datasets/calls.csv')
#   
# except:
#  
df.info()              #общая информация , типы данных , размер 
display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [3]:
df.describe().T        #статистические показатели в данных

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,16446.0,2006.484616,5.877050,1980.0,2003.0,2007.00,2010.00,2016.00
NA_sales,16715.0,0.263377,0.813604,0.0,0.0,0.08,0.24,41.36
EU_sales,16715.0,0.145060,0.503339,0.0,0.0,0.02,0.11,28.96
JP_sales,16715.0,0.077617,0.308853,0.0,0.0,0.00,0.04,10.22
Other_sales,16715.0,0.047342,0.186731,0.0,0.0,0.01,0.03,10.57
Critic_Score,8137.0,68.967679,13.938165,13.0,60.0,71.00,79.00,98.00

In [4]:
df.isnull().sum()            # количество пропущенных значений в данных

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

Строчные буквы сочетаются с прописными, преобразуем к змеиному регистру названия столбцов

In [5]:
df.columns=df.columns.str.lower()           #приведение к нижнему регистру названия столбцов датафрейма
df

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

### Вывод

Предварительно можно утверждать, что данных достаточно для анализа успешности игр, и они более чем корректны.

Но в данных обнаружены пропущенные значения и ошибочные типы, поэтому необходима преобработка данных, для корректного дальнейшего исследовательского и статистического анализа.

##  Предобработка данных и замена типа данных

In [6]:
df.isnull().mean()   # процентное соотношение пропущенных данных

name               0.000120
platform           0.000000
year_of_release    0.016093
genre              0.000120
na_sales           0.000000
eu_sales           0.000000
jp_sales           0.000000
other_sales        0.000000
critic_score       0.513192
user_score         0.400897
rating             0.404786
dtype: float64

In [7]:
len(df['name'].unique())        # количество уникальных значений в столбце с названием игр

11560

Всего 2 прощенных значения в столбце с играми, скорее всего просто сыграл роль человеческий фактор и их забыли заполнить. 

Уникальное количество названия игр слишком велико чтобы мы смогли корректно заполнить пропущенные значения, но и их всего нечего

Поэтому безболезненно удаляем пропуски в столбце name

In [8]:
df=df.dropna(subset=['name'])     # удаление пропущенных значений

In [9]:
# df.corr()

,year_of_release,na_sales,eu_sales,jp_sales,other_sales,critic_score
year_of_release,1.000000,-0.092326,0.004045,-0.168477,0.037821,0.011411
na_sales,-0.092326,1.000000,0.765341,0.449668,0.638695,0.240755
eu_sales,0.004045,0.765341,1.000000,0.435079,0.722796,0.220752
jp_sales,-0.168477,0.449668,0.435079,1.000000,0.291090,0.152593
other_sales,0.037821,0.638695,0.722796,0.291090,1.000000,0.198554
critic_score,0.011411,0.240755,0.220752,0.152593,0.198554,1.000000

Данные исследуются с 1980 года по 2016 включительно.

Для обработки пропущенных значений в столбце year_of_release исследуем количественную зависимость популярной платформы 

(в то время) и год выпуска игры.

In [190]:
a=[1980,1985,1990,1995,2000,2005,2010,2016]  #разделим наши периоды на пятилетки
genre_year=[]  #  пустой список 
for i in range(len(a[:-1])):  
    df1=df[(df['year_of_release']>=a[i]) & (df['year_of_release']<a[i+1])].groupby('platform')['year_of_release'].count().sort_values(ascending=False).reset_index() 
    genre_year.append(df1['platform'][0])
    
     # создадим логическое условие в соответствии с  выпуском (годом игры)  и количеством популярных платформ в то время

In [191]:
print(genre_year)    # популярные платформы в соответствии с годами списка а

['2600', 'NES', 'SNES', 'PS', 'PS2', 'DS', 'PS3']

Итого , за период 

   - 1980-1985 - популярна платформа "2600"
    
   - 1985-1990 - популярна платформа "NES"

   - 1990-1995 -  популярна платформа "SNES"
    
   - 1995-2000 - популярна платформа "PS"

   -2000-2005 - популярна платформа "DS"

   -2005-2016 - популярна платформа "PS3"

In [219]:
df.pivot_table(index = 'genre', values = 'year_of_release',aggfunc='count')

              year_of_release
genre
Action                   3342
Adventure                1294
Fighting                  842
Misc                     1735
Platform                  879
Puzzle                    573
Racing                   1236
Role-Playing             1484
Shooter                  1311
Simulation                860
Sports                   2333
Strategy                  678

Посмотрев на датасет с условием пропущенных значений в годах и названием игр, мы можем заметить одну такую хорошую особенность в некоторых названиях игр уже прописан год их релиза,возьмем эти данные и заполним пропущенные значения в годах соответственно.

In [204]:
df_year_nan=df[df['year_of_release'].isnull()]
df_year_nan

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
475,wwe Smackdown vs. Raw 2006,PS2,<NA>,Fighting,1.57,1.02,0.00,0.41,NaN,NaN,NaN
627,Rock Band,X360,<NA>,Misc,1.93,0.33,0.00,0.21,92.0,8.2,T
657,Frogger's Adventures: Temple of the Frog,GBA,<NA>,Adventure,2.15,0.18,0.00,0.07,73.0,tbd,E
805,Rock Band,Wii,<NA>,Misc,1.33,0.56,0.00,0.20,80.0,6.3,T
1142,Rock Band,PS3,<NA>,Misc,0.99,0.41,0.00,0.22,92.0,8.4,T
...,...,...,...,...,...,...,...,...,...,...,...
16277,Homeworld Remastered Collection,PC,<NA>,Strategy,0.00,0.01,0.00,0.00,86.0,8.2,E10+
16288,Shorts,DS,<NA>,Platform,0.01,0.00,0.00,0.00,NaN,tbd,E10+
16348,Agarest Senki: Re-appearance,PS3,<NA>,Role-Playing,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16458,Hakuouki: Shinsengumi Kitan,PS3,<NA>,Adventure,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16522,Virtua Quest,GC,<NA>,Role-Playing,0.01,0.00,0.00,0.00,55.0,5.5,T

In [205]:
df_year_nan['name'].unique()

array(['wwe Smackdown vs. Raw 2006', 'Rock Band',
       "Frogger's Adventures: Temple of the Frog", 'Triple Play 99',
       'Adventure', 'Combat', 'Legacy of Kain: Soul Reaver',
       'Donkey Kong Land III', 'Air-Sea Battle', 'Suikoden III',
       'Yakuza 4', 'WarioWare: Twisted!', 'Test Drive Unlimited 2',
       'Monster Hunter 2', 'Advance Wars: Days of Ruin', 'Fishing Derby',
       'Karate', 'Circus Atari',
       'The Chronicles of Riddick: Escape from Butcher Bay',
       "Maze Craze: A Game of Cops 'n Robbers", 'Silent Hill: Homecoming',
       'Super Breakout', "Robert Ludlum's The Bourne Conspiracy",
       'NHL Slapshot', 'TERA', 'NFL GameDay 2003',
       'Harvest Moon: Save the Homeland', 'Hangman',
       "Cubix Robots for Everyone: Clash 'n' Bash",
       'Dragon Ball Z: Budokai Tenkaichi 2 (JP sales)', 'Dragster',
       'All-Star Baseball 2005', 'Slot Machine',
       'The Dukes of Hazzard II: Daisy Dukes It Out',
       'Haven: Call of the King',
       'Unreal Championship 2: The Liandri Conflict',
       'The Legend of Zelda: The Minish Cap(weekly JP sales)', 'Indy 500',
       'Disgaea 3: Absence of Detention', 'Flag Capture', 'Jet X20',
       'Tribes: Aerial Assault', 'Big Beach Sports 2',
       'Yu Yu Hakusho: Dark Tournament', 'Ghostbusters II',
       'Breakaway IV', 'Move Fitness',
       'Valkyria Chronicles III: Unrecorded Chronicles',
       'DanceDanceRevolution II', 'Famista 64', 'Pet Zombies',
       'Backbreaker', 'Twisted Metal: Small Brawl', 'Otomedius Excellent',
       'Trauma Team', 'Sword of the Samurai',
       'Alone in the Dark: The New Nightmare', 'Vegas Party',
       'Jurassic Park: The Game', 'Home Run', 'eJay Clubworld',
       'Our House Party!', "Disney's Cinderella: Magical Dreams",
       'Nintendo Puzzle Collection', 'Charm Girls Club: My Fashion Mall',
       'Super Robot Wars OG Saga: Masou Kishin II - Revelation of Evil God',
       'Saru! Get You! Million Monkeys', 'The Daring Game for Girls',
       'GiFTPiA', 'Atsumare! Power Pro Kun no DS Koushien',
       'My Healthy Cooking Coach', 'Luminous Arc 2 (JP sales)',
       'Egg Monster Hero', 'Demon Chaos', 'Action Man-Operation Extreme',
       'Super Puzzle Fighter II', 'Charm Girls Club: My Fashion Show',
       'Face Racers: Photo Finish', 'Zero: Tsukihami no Kamen',
       'The Hidden', 'Mega Man Battle Network: Operation Shooting Star',
       'Port Royale 3', 'Dream Trigger 3D', 'Yoostar on MTV', 'Tornado',
       "McFarlane's Evil Prophecy", 'Drake of the 99 Dragons',
       'Build-A-Bear Workshop: Friendship Valley',
       'Alex Rider: Stormbreaker', 'Chou Soujuu Mecha MG',
       'Prinny: Can I Really Be The Hero? (US sales)',
       'Combat Elite: WWII Paratroopers', "Flip's Twisted World",
       'Mobile Ops: The One Year War',
       "Tom Clancy's Rainbow Six: Critical Hour",
       'Jewel Link Chronicles: Mountains of Madness',
       'Mountain Bike Adrenaline', 'Drill Dozer', 'Tour de France 2011',
       'Reader Rabbit 2nd Grade', 'Clockwork Empires',
       'B.L.U.E.: Legend of Water', 'Sega Rally 2006',
       'Half-Minute Hero 2', 'Housekeeping', 'Sabre Wulf', 'Swords',
       'Beyond the Labyrinth', 'Bikkuriman Daijiten',
       'Fullmetal Alchemist: Brotherhood',
       'Samurai Spirits: Tenkaichi Kenkakuden', 'Super Duper Sumos',
       'The King of Fighters: Maximum Impact - Maniax',
       'Combat Wings: The Great Battles of WWII', 'Tube Slider',
       'Umineko no Naku Koro ni San: Shinjitsu to Gensou no Yasoukyoku',
       'Payout Poker & Casino', 'Wii de Asobu: Metroid Prime',
       'Legacy of Ys: Books I & II', 'Saint', 'Steal Princess',
       "Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)",
       'Writing and Speaking Beautiful Japanese DS', 'Virtua Quest',
       "Shonen Jump's Yu-Gi-Oh! GX Card Almanac", 'Jet Impulse',
       'Dream Dancer', 'Football Manager 2007',
       'Ferrari: The Race Experience', 'Homeworld Remastered Collection',
       'Shorts', 'Agarest Senki: Re-appearance',
       'Hakuouki: Shinsengumi Kitan'], dtype=object)

In [225]:
df_year_nan.name=df_year_nan.name.str.split(' ')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [229]:
# df_year_nan.name
for i in range(df_year_nan.name):
if df_year_nan.name[i]=='2006':
    print(1)

IndentationError: expected an indented block (Temp/ipykernel_8612/2324372618.py, line 3)

In [202]:
for i in df[df['year_of_release'].isnull() == True].index:  
    df['year_of_release'][i] = df.loc[df['name'] == df['name'][i], 'year_of_release'].max()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [203]:
df['year_of_release'].isna().sum()

146

In [164]:
df1=df[(df['year_of_release']>=2010) & (df['year_of_release']<2016)].groupby('platform')['year_of_release'].count().sort_values(ascending=False).reset_index() 
df1
# print(df1['platform'][0])

   platform  year_of_release
0       PS3              851
1      X360              667
2        DS              507
3       PSP              500
4       3DS              466
5       Wii              449
6        PC              425
7       PSV              344
8       PS4              228
9      XOne              160
10     WiiU              133
11      PS2               45

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
18,Super Mario World,SNES,1990,Platform,12.78,3.75,3.54,0.55,NaN,NaN,NaN
50,Super Mario Land 2: 6 Golden Coins,GB,1992,Adventure,6.16,2.04,2.69,0.29,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993,Platform,5.99,2.15,2.12,0.29,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994,Platform,4.36,1.71,3.00,0.23,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992,Racing,3.54,1.24,3.81,0.18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15340,Pebble Beach Golf Links,SAT,1994,Sports,0.00,0.00,0.02,0.00,NaN,NaN,NaN
15551,Mortal Kombat,PC,1994,Fighting,0.02,0.00,0.00,0.00,NaN,NaN,NaN
15692,Empire Deluxe,PC,1992,Strategy,0.02,0.00,0.00,0.00,NaN,NaN,NaN
15788,World Class Rugby 2: Kokunai Gekitou Hen '93,SNES,1994,Sports,0.00,0.00,0.02,0.00,NaN,NaN,NaN
16207,Rock N' Roll Racing,SNES,1993,Racing,0.00,0.00,0.01,0.00,NaN,NaN,NaN

Заполнить пропущенные столбцы по рейтингу ESRB мы можем

In [103]:
df.groupby('genre')['rating'].count()

genre
Action          2188
Adventure        446
Fighting         438
Misc             882
Platform         569
Puzzle           342
Racing           872
Role-Playing     777
Shooter         1019
Simulation       568
Sports          1509
Strategy         339
Name: rating, dtype: int64

In [90]:
df['rating'].unique()
# len(df['genre'].unique())

array(['E', nan, 'M', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'], dtype=object)

In [66]:
df['year_of_release'].describe()

count    16444.000000
mean      2006.486256
std          5.875525
min       1980.000000
25%       2003.000000
50%       2007.000000
75%       2010.000000
max       2016.000000
Name: year_of_release, dtype: float64

In [63]:
df.groupby('genre')['year_of_release'].agg('count')

genre
Action          3307
Adventure       1293
Fighting         837
Misc            1721
Platform         878
Puzzle           569
Racing          1226
Role-Playing    1481
Shooter         1296
Simulation       857
Sports          2306
Strategy         673
Name: year_of_release, dtype: int64

In [65]:
len(df['platform'].unique())

31

In [83]:
df[df['year_of_release']==2016]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
94,FIFA 17,PS4,2016,Sports,0.66,5.75,0.08,1.11,85.0,5,E
108,Pokemon Sun/Moon,3DS,2016,Role-Playing,2.98,1.45,2.26,0.45,NaN,NaN,NaN
171,Uncharted 4: A Thief's End,PS4,2016,Shooter,1.85,2.50,0.19,0.85,93.0,7.9,T
245,Call of Duty: Infinite Warfare,PS4,2016,Shooter,1.61,2.00,0.15,0.71,77.0,3.4,M
289,Battlefield 1,PS4,2016,Shooter,1.10,2.15,0.21,0.61,88.0,8.4,M
...,...,...,...,...,...,...,...,...,...,...,...
16699,The Longest 5 Minutes,PSV,2016,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16703,Strawberry Nauts,PSV,2016,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [ ]:
df.

### Замена типа данных

Проверяем тип данных object в столбцах, он строчный , замена не требуется

Год выпуска игр должен быть целочисленным числом, заменяем с вещественного на целочисленный. 

В оценке пользователей тип object, логичнее сделать вещественный, но в данном столбце содержится аббревиатура 'tbd'-to be done.

В данном столбце это скорее всего значит то, что пользователь не оставил свою оценку на данный момент, но воспользовался продуктом, и может оставить свою оценку позже.

В количественном отношении этих данных более 14 процентов, для удаления без существенных потерь это много. 

Для замены на вещественный тип необходимо заменить 'tbd'  на NaN.

In [10]:
for i in ['name','platform','genre','rating','user_score']:       #проверка типа object
    print(type(df[i][0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [220]:
df['year_of_release']=df['year_of_release'].astype('Int64')  # год выпуска целочисленное число

C:\Users\4600~1\AppData\Local\Temp/ipykernel_8612/1738042357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_of_release']=df['year_of_release'].astype('Int64')  # год выпуска целочисленное число

In [11]:
df['user_score'].unique()            # уникальные значения в столбце оценка пользователя

array(['8', nan, '8.3', '8.5', '6.6', '8.4', '8.6', '7.7', '6.3', '7.4',
       '8.2', '9', '7.9', '8.1', '8.7', '7.1', '3.4', '5.3', '4.8', '3.2',
       '8.9', '6.4', '7.8', '7.5', '2.6', '7.2', '9.2', '7', '7.3', '4.3',
       '7.6', '5.7', '5', '9.1', '6.5', 'tbd', '8.8', '6.9', '9.4', '6.8',
       '6.1', '6.7', '5.4', '4', '4.9', '4.5', '9.3', '6.2', '4.2', '6',
       '3.7', '4.1', '5.8', '5.6', '5.5', '4.4', '4.6', '5.9', '3.9',
       '3.1', '2.9', '5.2', '3.3', '4.7', '5.1', '3.5', '2.5', '1.9', '3',
       '2.7', '2.2', '2', '9.5', '2.1', '3.6', '2.8', '1.8', '3.8', '0',
       '1.6', '9.6', '2.4', '1.7', '1.1', '0.3', '1.5', '0.7', '1.2',
       '2.3', '0.5', '1.3', '0.2', '0.6', '1.4', '0.9', '1', '9.7'],
      dtype=object)

In [12]:
df[df['user_score']=='tbd']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
119,Zumba Fitness,Wii,2010,Sports,3.45,2.59,0.0,0.66,NaN,tbd,E
301,Namco Museum: 50th Anniversary,PS2,2005,Misc,2.08,1.35,0.0,0.54,61.0,tbd,E10+
520,Zumba Fitness 2,Wii,2011,Sports,1.51,1.03,0.0,0.27,NaN,tbd,T
645,uDraw Studio,Wii,2010,Misc,1.65,0.57,0.0,0.20,71.0,tbd,E
657,Frogger's Adventures: Temple of the Frog,GBA,<NA>,Adventure,2.15,0.18,0.0,0.07,73.0,tbd,E
...,...,...,...,...,...,...,...,...,...,...,...
16695,Planet Monsters,GBA,2001,Action,0.01,0.00,0.0,0.00,67.0,tbd,E
16697,Bust-A-Move 3000,GC,2003,Puzzle,0.01,0.00,0.0,0.00,53.0,tbd,E
16698,Mega Brain Boost,DS,2008,Puzzle,0.01,0.00,0.0,0.00,48.0,tbd,E
16704,Plushees,DS,2008,Simulation,0.01,0.00,0.0,0.00,NaN,tbd,E
16706,Men in Black II: Alien Escape,GC,2003,Shooter,0.01,0.00,0.0,0.00,NaN,tbd,T

In [221]:
df['user_score'].replace("tbd", np.NaN)  # заменим значение "tbd" на NaN
# df['user_score']=df['user_score'].astype('Float64')

0          8
1        NaN
2        8.3
3          8
4        NaN
        ...
16710    NaN
16711    NaN
16712    NaN
16713    NaN
16714    NaN
Name: user_score, Length: 16713, dtype: object

In [223]:
df['user_score']=df['user_score'].astype('Float64')

TypeError: object cannot be converted to a FloatingDtype

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16713 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16567 non-null  Int64
 3   genre            16713 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: Int64(1), float64(5), object(5)
memory usage: 2.1+ MB

Замена типов данных выполнена.

### Суммарные продажи во всех регионах

Посчитаем суммарные продажи во всех регионах и запишите их в отдельный столбец total

In [118]:
df['total'] = df['na_sales'] + df['eu_sales'] + df['jp_sales'] + df['other_sales']

C:\Users\4600~1\AppData\Local\Temp/ipykernel_10488/3865236145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total'] = df['na_sales'] + df['eu_sales'] + df['jp_sales'] + df['other_sales']

## Исследовательский анализ данных

### Cколько игр выпускалось в разные годы

### Изменение продаж по платформам. Распределение по годам. За какой характерный срок появляются новые и исчезают старые платформы

### Влияние на продажи внутри одной популярной платформы отзывы пользователей и критиков. Диаграмма рассеяния и  корреляцию между отзывами и продажами

### Распределение по жанрам. Что можно сказать о самых прибыльных жанрах? Выделяются ли жанры с высокими и низкими продажами?

### Портрет пользователя каждого региона

Определите для пользователя каждого региона (NA, EU, JP):

•	Самые популярные платформы (топ-5). Опишите различия в долях продаж.

•	Самые популярные жанры (топ-5). Поясните разницу.

•	Влияет ли рейтинг ESRB на продажи в отдельном регионе?

## Проверка гипотез



•	Средние пользовательские рейтинги платформ Xbox One и PC одинаковые;

•	Средние пользовательские рейтинги жанров Action (англ. «действие», экшен-игры) и Sports (англ. «спортивные соревнования») разные.

Задайте самостоятельно пороговое значение alpha.

## Общий вывод

*ВЫВОД*




Данные 
 после удаления данных объем датасета сократился на  %
    
*НЕОБХОДИМО*

1.

### Чек лист

- [x]  открыт файл
- [x]  файлы изучены (выведены первые строки, метод info())
- [x]  определены пропущенные значения 
- [x]  заполнены пропущенные значения, если нужно
- [x]  есть пояснение, какие пропущенные значения обнаружены
- [x]  изменены типы данных
- [x]  есть пояснение, в каких столбцах изменены типы и почему
- [x]  посчитано и добавлено в таблицу: количество сделанных звонков и израсходованных минут разговора по месяцам
- [x]  посчитано и добавлено в таблицу: количество отправленных сообщений по месяцам
- []  посчитано и добавлено в таблицу: объем израсходованного интернет-трафика по месяцам;
- []  посчитано и добавлено в таблицу: помесячную выручку с каждого пользователя (вычтите бесплатный лимит из суммарного количества звонков, сообщений и интернет-трафика; остаток умножьте на значение из тарифного плана; прибавьте абонентскую плату, соответствующую тарифному плану)
- []  построены гистограммы для каждого параметра
- []  описано поведение клиентов оператора, исходя из выборки.(Сколько минут разговора, сколько сообщений и какой объём интернет-трафика требуется пользователям каждого тарифа в месяц?)
- []  посчитайно среднее количество, дисперсия и стандартное отклонение
- []  описано распределение
- []  сформулирована нулевая и альтернативная гипотезы
- []  Проверьте гипотезы:
- []      средняя выручка пользователей тарифов «Ультра» и «Смарт» различаются;
- []      средняя выручка пользователи из Москвы отличается от выручки пользователей из других регионов.
- []  объяснить какой критерий использовали для проверки гипотез и почему.
- []  в каждом этапе есть выводы
- []  есть общий вывод